#fullpage {
   max-width: 63em;
   margin: auto;
}

*, *:before, *:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

body{
	background-color: gray;
}
h1 {
   font-size: 2em;
   color: gray;
}
h2 {
   font-size: 1.5em;
}
h1, h2 {
   font-weight: bold;
   font-family: lucida sans unicode;
   text-align: center;
   margin: 5px 0;
}
p {
   font-size: 1em;
   margin: 5px 0;
}
ul {
   padding-left: 10px;
   margin: 10px 0;
   list-styletype:disc;
}
li {
   margin-left: 10px;
   padding-left: 10px;
}

header li{
	display: inline;
}

header, article, aside, footer {
   border: 1px solid #111;
   background-color: white;
}

header, article, aside, footer {
   border: 1px solid #111;
   padding: 10px 1em;
   margin: 0 5% 10px;
}

header {
   margin-top: 10px;
}

footer{
	background-color: gray;
	text-align: center;
}

footer p {
	color: white;
	font: bold;
}

@media only screen and (min-width: 36em) {
   article {
      width: 67%;
      float: left;
      margin-right: 0;
   }
   aside {
      width: 21%;
      float: right;
      margin-left: 0;
   }
   footer {
      clear: both;
   }
}
